.container {
  /* margin-top:162px; */
}


.header {
  display: grid;
  grid-template-columns: 1fr ;
  align-items: center;
}

.header > h1 {
  margin-bottom: 10px;
}

.blu {
  color: #49a5a5;
}

.lightGray {
  margin: 0;
  border: 1px solid #f8f8f8;
}

.darkGray {
  margin: 0;
  border: 0.3px solid lightgray;
}

.grid {
  display: grid;
  grid-template-columns: 33% 1fr;
}

.users {
  background-color: #f8f8f8;
}

.user {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
}

.userProfilePhoto{
  text-align: center;
}

.userPhoto {
  width: 40px;
  height: 40px;
}

.selectedUserPhoto {
  width: 75px;
  height: 75px;
}


.name {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 10px 0 10px;
}

.message {
  font-size: 15px;
  color: darkgrey;
  font-weight: 200;
  margin: 0 10px 10px 10px;
}

.messaggi {

}

.topbar {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  align-items: center;
}

.selectedUser {
  padding: 10px 0 10px 20px;
}

.username {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  vertical-align: middle;
}

.technicians {

  text-align: right;
}

.icons {
  text-align: right;
}

.margin {
  margin: 1em;
}


@media only screen and (max-width: 768px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .hidden {
    display: none;
  }

  .header {
    margin-left: 10px;
  }

  .name {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 10px 0 10px;
  }
}
