.grid-item {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

.logo {
  width: 100px;
  height: 100px;
}

p {
  font-size: 40px;
  margin-top: 20px;
  font-weight: 100;
}

.icon {
  position: relative;
  color: #9B9B9B;
  font-size: 16px;
  margin-top: 1em;
}

.icon input {
  width: 100%;
  height: 40px;
  background: #f8f8f8;
  color: #9B9B9B;
  border: none;
  text-indent: 52px;
  font-size: 16px;
  font-weight: 100;
}

.icon .fa-envelope , .fa-lock, .fa-user{
  position: absolute;
  top: 13px;
  left: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9B9B9B;
  opacity: 0.4; /* Firefox */
}


.bold {
  font-weight: 700;
}

.button {
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  outline:none;
  text-decoration: none;
  margin: 1em 0 0 10px;
}

.blu {
  margin-bottom: 1em;
  color: #65C6D5;
}

.gray {
  color: #9B9B9B;
  font-size: 15px;
  font-weight: 200;
}

.blu :hover {
  color: black;
  cursor: pointer;
}


hr {
  margin: 0;
  border: 1px solid #f8f8f8;
}


/*  MOBILE  */

@media only screen and (max-width: 768px) {

  .grid-item {
    display: grid;
    width: 100%;
    margin-left: 0%;
    margin-top: 10%;
  }

  p {
    font-size: 30px;
    margin: 20px 0 10px 0;
    font-weight: 100;
  }

  .gray {
    font-size: 15px;
    font-weight: 200;
    margin-top: 0;
  }

  hr {
    display: none;
    margin: 0;
    border: 1px solid #f8f8f8;
  }



}
